<div class="container-fluid">

  <div class="row mt-4 p-3">
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary" (click)="getFirstTenUsers()">Get First 10 Users</button>
    </div>

    <div class="col-md-6">
      <input type="number" class="form-control" [(ngModel)]="userId">
      <button type="submit" class="btn btn-primary" (click)="getUserById()">Get User By Id</button>
    </div>
  </div>


  <div class="row mt-4 p-3 table-responsive-xl table-responsive-lg">
    <table class="table table-bordered">
      <thead class="thead-light">
        <th>ID</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Body</th>
      </thead>

      <tbody *ngFor="let data of userData$">
        <tr>
          <td>{{data?.id}}</td>
          <td>{{data?.userId}}</td>
          <td>{{data?.title}}</td>
          <td>{{data?.body}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<app-spinner></app-spinner>